<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Olá <b>{$user.desperson}</b>!
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Home</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->
  <div class="container">
  	<img class="img-fluid" src="/res/site/images/ciclo-logo-grdOK-semtexto.png" alt="Logo CicloVittal" style="height: 100px; width: 130px; position: relative; top: -7px; left: -25px">
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->