<br>
<br>

<table>

	<tbody>
		
		<tr>
		
			<td>
				{loop="$fotos"}
				<img src="/res/site/images/galeria/{$value.foto}" style="height: 100px; width: 100px" class="img-fluid" alt="Fotos Escola Ciclo Vittal" title="Fotos Escola Ciclo Vittal">
				{/loop}
			</td>
		
		</tr>

		<tr>
	
			<td>
				{loop="$fotos2"}
				<img src="/res/site/images/galeria/{$value.foto}" style="height: 100px; width: 100px" class="img-fluid" alt="Fotos Escola Ciclo Vittal" title="Fotos Escola Ciclo Vittal">
				{/loop}
			</td>
		
		</tr> 

		<tr>
		
			<td>
				{loop="$fotos3"}
				<img src="/res/site/images/galeria/{$value.foto}" style="height: 100px; width: 100px" class="img-fluid" alt="Fotos Escola Ciclo Vittal" title="Fotos Escola Ciclo Vittal">
				{/loop}
			</td>
		
		</tr>
	
	</tbody>

</table>

<br>
<br>